<form class="form-token-health" id="token-health" autocomplete="off" onsubmit="event.preventDefault();">
    <div class="form-group" style="flex-direction: column; height: 150px">
        <div class="flexrow">
            <b><large><label style="margin: 5px" for="token-health-input">{{localize "TOKEN_HEALTH.Amount"}}</label></large></b>
            <input id="token-health-input" type="number" data-dtype="Number" name="amount" min="0" max="999"/>
            {{#if allowPenetratingDamage}}
                <label style="margin-left: 25px" for="token-health-checkbox">{{localize "TOKEN_HEALTH.DamageType"}}</label>
                <select id="token-health-damage-type" name="damage-type">
                    <option value="impact">Impact</option>
                    <option value="ballistic">Ballistic</option>
                    <option Value="penetrating">Penetrating</option>
                </select>
            {{/if}}
        </div>
        {{#if allowPenetratingDamage}}
            <div class="row">
                <label style="margin: 15px"><input type="radio" name="subtype" value="wound" {{{isChecked defaultSubtype "wound"}}}>Wound</label>
                <label style="margin: 15px"><input type="radio" name="subtype" value="stun" {{{isChecked defaultSubtype "stun"}}}>Stun</label>
            </div>
        {{/if}}
        <p><small>{{helpText}}</small></p>
    </div>
</form>
